<div class="p-grid">
  <div class="p-col-12 p-my-1">
    <p-toolbar>
      <div class="p-toolbar-group-left">
        <p-button
          icon="pi pi-search"
          label="Buscar"
          styleClass="p-mr-3"
        ></p-button>
      </div>
      <div class="p-toolbar-group-right">
        <p-button
          icon="pi pi-plus"
          label="Nuevo"
          styleClass="p-button-success"
          (click)="panelAgregarItem = true"
        ></p-button>
      </div>
    </p-toolbar>
  </div>

  <div class="p-col-12 p-my-1" *ngIf="panelAgregarItem">
    <app-add-item (closePanelEvent)="panelAgregarItem = $event"></app-add-item>
  </div>

  <div
    class="p-my-1"
    [ngClass]="{ 'p-col-8': panelDetalleItem, 'p-col-12': !panelDetalleItem }"
  >
    <p-panel header="Estado actual">
      <ng-template pTemplate="icons">
        <p-button
          icon="pi pi-refresh"
          styleClass="p-button-secondary"
        ></p-button>
      </ng-template>

      <p-tree [value]="treeNode"></p-tree>
    </p-panel>
  </div>

  <div class="p-col-4 p-my-1" *ngIf="panelDetalleItem">
    <p-panel header="Detalle">
      <ng-template pTemplate="icons">
        <p-button
          icon="pi pi-times"
          styleClass="p-button-secondary"
          (click)="panelDetalleItem = false"
        ></p-button>
      </ng-template>
    </p-panel>
  </div>
</div>
